html,
  body,
  input,
  select,
  textarea {
    font-size: 1.05em !important;
    background-color:#181d22;
}

@font-face {
font-family: Circular Std;
src: url('fonts/CircularStd-Black.ttf');
font-weight: black;
}

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .fade-in {
	   opacity:0;  /* make things invisible upon start */
	    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	     -moz-animation:fadeIn ease-in 1;
	      animation:fadeIn ease-in 1;

	       -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	        -moz-animation-fill-mode:forwards;
	         animation-fill-mode:forwards;

	          -webkit-animation-duration:0.75s;
	           -moz-animation-duration:0.75s;
	            animation-duration:0.75s;
    }

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.container{
  width: 1024px;
  padding-top: 100px;
  position: relative;
  height: auto;
  margin: auto;
  padding-top: 1%;
}

.indextitle{
  top: 0;
  width: 300px;
  height: 120px;
  margin: 0 auto;
  font-family: 'Circular Std';
  font-size: 80px;
  letter-spacing: -2.21px;
  font-weight: black;
  text-align: center;
  font-weight:lighter;
  color: white;
}

.loginbutton{
  height: 40px;
  min-width: 120px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight:500;
  background: white;
  color: #181d22;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 100px;
  border: none;
  text-align: center;
  transition-property: background border width height box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;

}

.loginbutton:hover{
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.loginbutton:active{
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
}
