html,
  body,
  input,
  select,
  textarea {
    font-size: 1.05em !important;

  }

  .totalcontainer{
    margin-top: 8px !important;
    height: 88vh;
    width: 1001px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10);
  }

  #subjectlistscroll {
    width: auto;
    height: 82vh;
    overflow: auto;
    font-size: 12px;
    border-bottom: 1px solid lightgrey;

  }



  .subjectsection{
    float: left;
    height: auto;
    width:270px;
    background-color: white;
  }

  .subjectsheader{
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.04);
    height: 15px;
    font-size: 13px;
    color: rgb(69, 69, 69);
    font-weight: 500;
    text-align: center;
  }

  .subjectlisting2 {
    position: relative;
    height: 15px;
    padding: 16px;
    width: auto;
    padding-left: 25px;
    text-align: left;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid rgb(237, 237, 237)
  }

  .subjectlisting2:hover {
    background-color: #343d46;
    color: white;
  }

  .subjectlisting2:active{
    background-color: white;
    color: grey;
  }

  .detailssection{
    float: left;
    border-left: 1px solid lightgrey;
    height: 88vh;
    width:700px;
    background-color: white;
  }

  .editsubject{
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.04);
    height: 15px;
    font-size: 13px;
    color: rgb(69, 69, 69);
    font-weight: 500;
    text-align: center;
    width: 100%
  }

  .namesectioncontainer{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    display:inline-block
  }

  form input[type='name'] {
    padding: 3px;
    padding-top: 2px;
    padding-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(#000000, 0.43);
    font-family: helvetica;
    font-size: 12px !important;
    color: black !important;
    width: 350px;
    height: 27px;
    border-radius: 2px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition-property: background border width height box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    outline: none;
  }

  .sourcessection{
    margin-left: 30px;
    margin-top: 35px;
    font-size: 13px;
    font-weight: 600;
    color:  rgb(69, 69, 69);
  }

  .savebutton{
    margin-left:10px;
    margin-top:20px;
    width:100px;
    height:32px;
    background-color:rgb(52, 61, 70);
    font-size: 11px !important;
    color:white;
    border: none;
    border-radius: 2px;
    outline: none;
    display:inline-block !important
  }

  .savebutton:hover{
    background-color: rgb(38, 44, 50);
  }
  .savebutton:active{
    background-color: rgb(83, 99, 112)
  }

  .editbutton2{
    background-color:rgb(52, 61, 70);
    color:white;
    border: none;
    border-radius: 2px;
    height: 20px;
    width: 35px;
    margin-left: 8px;
    display:inline-block;
    outline: none;
  }

  .editbutton2:hover{
    background-color: rgb(38, 44, 50);
  }

  .editbutton2:active{
    background-color: rgb(83, 99, 112);
  }

  .successoverlay{
    margin-left: 480px;
    margin-top: 200px;
    color: black;
    font-weight: 400;
    font-size: 12px;
    background-color: white;
    position: absolute;
    z-index: 500;
    width: 210px;
    height: 160px;
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.13);
  }

  .successadd{
    margin-left: 73px;
    margin-top: 30px;
    height: 60px;
    width: 60px;
  }
