<!doctype html>
<html ng-app="funnel" ng-controller="maincontroller" ng-model="names">
<head>
  <meta charset="UTF-8">

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>

  <!-- Angular Loading background-colar -->
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

  <!-- JQuery -->
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="../node_modules/ngprogress/build/ngProgress.js"></script>

  <!-- Local -->
  <link rel="stylesheet"  type="text/css" href="./stylesheets/home.css"/>
  <link rel="stylesheet"  type="text/css" href="./stylesheets/subjects.css"/>
  <script src="./controllers/maincontroller.js"></script>

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue_grey-red.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

  <!-- Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'></link>

</head>

<!-- Nav bar-->
<div ng-init="derp=false" ng-hide="derp==false" class="fade-in one"style="background-color:rgb(26, 26, 26); height:100vh; width:100vw; position:absolute; z-index:499; opacity:0.9 ">
<div  class="successoverlay">
  <img class="successadd" src="images/success.png"/>
  <div style="text-align:center; margin-top:5px">Added</div>
</div>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header2 shadow">
    <div class="mdl-layout__header-row2">
      <!-- Title -->
      <a class="mdl-layout-title2" href="home.html">Darwin</a>

      <!-- Search bar-->
        <form>
        <input type="text" placeholder="Search Darwin" ng-model="">
        </form>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl">
        <a href="home.html" ng-click="loadMainData() " class="mdl-navigation__link2" style="white" tabindex="0">
          <img  class="homeicon" src="images/home.png"/>Home
        </a>
        <a  ng-click="showsubjects = ! showsubjects; showprofileoptions = false" class="mdl-navigation__link2" tabindex="0">
          <span >Subjects</span>
        </a>
        <a ng-click="showprofileoptions = ! showprofileoptions; showsubjects=false" class="mdl-navigation__link2" tabindex="0" ng-click="showprofile = ! showprofile">
          <img class="profilepic" src="images/profilepic.jpg"/>
          <span>Romario</span>
        </a>

      </nav>
    </div>


  </header>

  <!-- Start of main content-->
  <body ng-controller="SubjectTitle">

    <main class="mdl-layout__content">
  <div class="mdl-grid containee">
    <div class=" mdl-cell--12-col-desktop">
      <div class="invisilayer">
<!--n -->


        <!-- Profile Drop down menu-->
        <div class="profilelist" style="position:absolute; margin-top:-10px;" id="toolbox" ng-if="showprofileoptions">
          <div>
            <div><a class="profileoption">Your profile</a></div>
            <div><a class="profileoption" href="subjects.html">Subjects</a></div>
            <div><a class="profileoption">Settings</a></div>
            <div><a class="profileoption" href="index.html">Sign out</a></div>
          </div>
        </div>

        <!-- Subject Drop down menu-->
        <div class="subjectlist " id="toolbox" style="margin-left:875px; margin-top:-10px !important; position:absolute; box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);" ng-if="showsubjects">
          <div class="updateheader">
            <span style="margin-top:5px; ">All</span>
            <a href="subjects.html" style="float:right; margin-right:25px; color: rgba(0, 0, 0, 0.78)">Edit</a>
          </div>
          <form>
            <input spellcheck="false" autocapitalize="off" type="minisearch" autocorrect="off"  ng-model="search" placeholder="Search " ng-click="searchbarclick = ! searchbarclick">
          </form>
          <div ng-model="subjectsnames" id="subjectsscroll">
            <a ng-repeat="name in subjectsnames | filter:search" class="subjectlisting" style="text-decoration: none;">
              <div class="updatenumber">7</div>
              <span>{{name.name}}<span>
            </a>
          </div>
        </div>

      </div>

      <div class="totalcontainer" >

        <!-- List of Subject -->
          <div class="subjectsection">

            <div class="subjectsheader"> Subjects </div>
            <form>
              <input spellcheck="false" autocapitalize="off" type="minisearch2" autocorrect="off"  ng-model="search" placeholder="Search " ng-click="searchbarclick = ! searchbarclick">
            </form>
            <div id="subjectlistscroll">

              <div ng-repeat="name in subjectsnames | filter:search" class="subjectlisting2"  ng-click="updateeditmodel('Different Subject')">
                {{name.name}}
              </div>
            </div>
          </div>

          <div class="detailssection" ng-controller="SubjectTitle"  >

            <!-- Section title-->
            <div class="editsubject" ng-model="editsubject" ng-init="master.name='Temp Name'">{{master.name}}</div>

            <!-- Name of subject-->
            <div style="width:400px; height:30px; padding-left:30px; padding-top:30px;">
              <div style="font-size:22px; font-weight:300;display:inline-block">{{master.name}}</div>
              <button class="editbutton2" >Edit</button>
            </div>

            <!-- Edit name of subject-->
                <form  class="namesectioncontainer">
                  <input type="name" style="display:inline-block" ng-model="subject.name" placeholder="{{master.name}}"/>
                  <input type="button" value="Save changes" class="savebutton"  ng-click="updateeditmodel(subject)"/>
                  <input type="button" value="Cancel" class="savebutton"  />
                </form>

            <div class="sourcessection">Sources</div>
          </div>
      </div>
    </div>
    </div>
    </main>
  </body>
</div>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-69395919-1', 'auto');
  ga('send', 'pageview');
</script>

<script>
  $(function() {

    var toolbox = $('#toolbox'),
      height = toolbox.height(),
      scrollHeight = toolbox.get(0).scrollHeight;

    toolbox.bind('mousewheel', function(e, d) {
      if ((this.scrollTop === (scrollHeight - height) && d < 0) || (this.scrollTop === 0 && d > 0)) {
        e.preventDefault();
      }
    });

  });
</script>

</html>
